
aside {
    float: right;
    width: 30%;
    padding-top: 20px;
  }
  article {
    float: left;
    padding-top: 20px;
    padding-right: 20px;
    width: 70%;
  }
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  .card-img-justify{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width:180px;
    height:180px;
}
.card{
  margin-top: 20px;
}
.btn-circle.btn-xl {    
  border: solid 2px #CCCCCC;
  border-radius:40%;
  -moz-border-radius: 40%;
  -webkit-border-radius: 40%;
}
.icon-button{
  margin-top: 40px;
  margin-left:300px;
}
.mycard a{
  color: black;
  text-decoration: none;
}

.Mybutton{
  color: black;
  text-decoration: none;
}
.Mycardheader {
  text-align: left;
  font-size:27px;
  font-weight: bold;
  height: 2em;
  padding: 0.2em 0 0 2%;
}
.Mytime {
  width: 7%;
  margin: -2em 0 0 5%;
  padding: 0;
  float: right;
}
.Mytime span {
  margin: 0.2em 0 0.1em 0;
}
.Mycardbody {
  text-align: left;
}
.Myanswer {
  margin: 1em 0 0 0;
}
.Mycardfooter {
  text-align: left;
  height: 3em;
}
footer {
  font-size: 20px;
  padding-top: 3%;
}