<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="image">
                <img src="assets/img/ban.png" width="1110" height="200">
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand " href="#">FPT Polytechnic</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" [routerLink] = "['/index']">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink] = "['/introduce']">Giới thiệu</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink] = "['/contact']">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink] = "['/feedback']">Góp ý</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hỏi đáp</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tài khoản
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"  [routerLink] = "['/regis']">Đăng kí</a>
                                <a class="dropdown-item" [routerLink] = "['/login']">Đăng nhập</a>
                                <a class="dropdown-item" [routerLink] = "['/forgotpass']">Quên mật khẩu</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Đăng xuất</a>
                                <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                                <a class="dropdown-item"[routerLink] = "['/update']">Cập nhật tài khoản</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="row">
            <div class="col-lg-6">          
                <br>
                <h3 class="text">TẬP ĐOÀN FPT</h3>
                <p><b>Trụ sở chính</b></p>
                <p>Tòa nhà FPT Cầu Giấy, số 17 phố Duy Tân, phường Dịch Vọng Hậu, quận Cầu Giấy, Hà Nội, Việt Nam</p>
                <p><b>Điện thoại:</b> +84 24 7300 7300
                <p><b>Fax:</b> +84 24 37687410</p><br>
                <p><b>Văn phòng đại diện FPT tại Cần Thơ</b></p>
                <p><b>Địa chỉ:</b> 69 Hùng Vương, phường Thới Bình, quận Ninh Kiều, Thành phố Cần Thơ.</p>
                <p><b>Điện thoại:</b> +84 0710 3752 666</p>
                <p><b>Fax:</b> +84 0710 752 555</p>
            </div> 
            <div class="col-lg-6">
                <br><br><br>
                <p><b>Chi nhánh FPT tại TP. Hồ Chí Minh</b></p>
                <p><b>Địa chỉ:</b>Tòa nhà FPT Tân Thuận, Lô L29B-31B—33B,  đường số 8, KCX Tân Thuận, phường Tân Thuận Đông, quận 7, Thành phố Hồ Chí Minh, Việt Nam.</p> 
                <p><b>Điện thoại:</b> +84 28 7300 7300</p>                   
                <p><b>Fax:</b> +84 28 7300 7388</p><br>
                <p><b>Văn phòng đại diện FPT tại Đà Nẵng</b></p>
                <p><b>Địa chỉ:</b> Tòa nhà FPT Complex, Khu đô thị FPT City, Hòa Hải, Ngũ Hành Sơn, Thành phố Đà Nẵng, Việt Nam.</p>
                <p><b>Điện thoại:</b> +84 0344 1333</p>
            </div> 

            <div class="col-lg-6 section">
                <br>
                <h3 class="text">QUAN HỆ CỔ ĐÔNG</h3>
                <p><i>Tiếp nhận và phản hồi các thông tin liên quan đến nhà đầu tư, cổ đông Phòng Quan hệ cổ đông.</i></p>
                <p><b>Địa chỉ:</b> Tầng 14, tòa nhà FPT Cầu Giấy, số 17 phố Duy Tân, phường Dịch Vọng Hậu, quận Cầu Giấy, Hà Nội, Việt Nam</p>
                <p><b>Email:</b> ir@fpt.com.vn</p>
                <p><b>Điện thoại:</b> +84 24 7300 7300</p>    
            </div>
            <div class="col-lg-6 article">
                <br>
                <h3 class="text">QUAN HỆ BÁO CHÍ</h3>
                <p><i>Cung cấp và phản hồi thông tin cho các kênh truyền thông trong và ngoài nước. Ban Truyền thông tập đoàn FPT.</i></p>
                <p><b>Địa chỉ:</b> Tầng 14, tòa nhà FPT Cầu Giấy, số 17 phố Duy Tân, phường Dịch Vọng Hậu, quận Cầu Giấy, Hà Nội, Việt Nam</p>
                <p><b>Email:</b> fptnews@fpt.com.vn</p>
                <p><b>Điện thoại:</b> +84 24 7300 7300</p>
            </div>

            <div class="col-lg-6">
                <br>
                <h3 class="text">DỊCH VỤ - GIẢI PHÁP</h3>
                <p class="font"><b>Phát triển phần mềm</b></p>
                <p><b>Email:</b> fsoft.contact@fsoft.com.vn</p>                  
                <p><b>Điện thoại:</b> +84 24 3 768 9048</p>    

                <p class="font"><b>Tích hợp Hệ thống, Dịch vụ CNTT</b></p>
                <p><b>Email:</b> contact@fis.com.vn</p>                   
                <p><b>Điện thoại:</b> +84 24 3562 6000</p> 

                <p class="font"><b>Dịch vụ Internet, truyền hình</b></p>
                <p><b>Email:</b> hotrokhachhang@fpt.vn</p> 
                                   
                <p class="font"><b>Điện thoại:</b></p>                   
                <p><b>Tại Hà Nội:</b> +84 24 7300 8888</p>               
                <p><b>Tại Tp.HCM:</b> +84 28 7300 8888</p>    

                <p class="font"><b>Dịch vụ trực tuyến</b></p>
                <p><b>Email:</b> fptonline@fpt.com.vn</p>               
                <p><b>Điện thoại:</b> +84 28 7300 9999</p>
            </div>
            <div class="col-lg-6">
                <br>
                <h3 class="text">TUYỂN SINH - ĐÀO TẠO</h3>
                <p class="font"><b>Hệ Đại học</b></p>
                <p><b>Email:</b> tuyensinh@fpt.edu.vn</p>
                
                <p class="font"><b>Điện thoại:</b></p>                 
                <p><b>Tại Hà Nội:</b> +84 24 3768 7717</p>                  
                <p><b>Tại Tp.HCM:</b> +84 28 5437 1777</p>
                <p><b>Tại Đà Nẵng:</b> +84 511 3 735 913</p>
                    
                <p class="font"><b>Hệ Cao đẳng</b></p>
                <p><b>Email:</b> caodang@fpt.edu.vn</p>  
                <p><b>Điện thoại:</b> +84 28 7300 9999</p>
                    
                <p class="font"><b>Hệ Phổ thông trung học</b></p>
                <p><b>Email:</b> thpt@fpt.edu.vn</p>
            </div>
            
            <div class="col-lg-6 section">
                <br>
                <h3 class="text">SỬA CHỮA BẢO HÀNH</h3>
                <p><b>Email:</b> fptservices@fpt.com.vn</p>

                <p><b>Đường dây nóng:</b> +84 917 876 295<br>
                                        +84 900 300 274</p>
                <p><b>Điện thoại:</b></p>
                    
                <p><b>Tại Hà Nội:</b> +84 24 7300 0911</p>
                <p><b>Tại Tp.HCM:</b> +84 28 7300 0911</p>
                <p><b>Tại Hải Phòng:</b> +84 2253 835 845</p>
                <p><b>Tại Đà Nẵng:</b> +84 511 356 2666</p>
                <p><b>Tại Cần Thơ:</b> +84 710 378 1978</p>
                <p><b>Tại Hải Dương:</b> +84 320 385 4789</p>
                <p><b>Tại Đồng Nai:</b> +84 613 941 011</p>
                <p><b>Tại Nghệ An:</b> +84 2388 767368</p>
                <p><b>Tại Khánh Hòa:</b> +84 258 3560 111</p>
            </div>
            
            <div class="col-lg-6 article">
                <br>
                <h3 class="text"> HỆ THỐNG CỬA HÀNG BÁN LẺ SẢN PHẨM CÔNG NGHỆ</h3>
                <p><b>Email:</b> fptshop@fpt.com.vn</p>
                <p><b>Điện thoại:</b> +84 28 7302 3456</p>

                <p><b>Tổng đài tư vấn miễn phí:</b> 1900 6601</p>
                <p><b>Chăm sóc khách hàng:</b> 1900 6616</p>
                <p>Hệ thống cửa hàng <span style="color:orangered">F.Studio</span> (phân phối chính hãng các sản phẩm Apple)</p>
            </div>

            <div class="col-lg-6">
                <br>
                <h3 class="text">TUYỂN DỤNG</h3>
                <p><i>Giải đáp các thắc mắc liên quan đến thông tin tuyển dụng Ban Nhân sự Tập đoàn FPT</i></p>
                <p><b>Địa chỉ:</b> Tầng 14, tòa nhà FPT Cầu Giấy, số 17 phố Duy Tân, phường Dịch Vọng Hậu, Quận Cầu Giấy, Hà Nội, Việt Nam</p>               
                <p><b>Email:</b> tuyendungfpt@fpt.com.vn</p>        
                <p><b>Điện thoại:</b> +84 24 7300 7300 (máy lẻ 1868 hoặc 2698)</p>
            </div>
            
        </div>

        <footer>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink] = "['/index']">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink] = "['/introduce']">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink] = "['/contact']">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  [routerLink] = "['/feedback']">Góp ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hỏi đáp</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>
