
aside {
  float: right;
  width: 30%;
  padding-top: 20px;
}
article {
  float: left;
  padding-top: 20px;
  width: 70%;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
.ImgBan {
  width: 80%;
  padding-left: 15%;
  padding-top: 5%;
}

.ImgBan1 {
  width: 98%;
  padding-top: 3%;
}
footer {
  font-size: 20px;
  padding-top: 3%;
}
.btn-circle.btn-xl {    
  border: solid 2px #CCCCCC;
  border-radius:40%;
  -moz-border-radius: 40%;
  -webkit-border-radius: 40%;
}
.icon-button{
  margin-top: 15%;
  margin-left:280px;
}