.txt {
    color: chocolate;
}
.img_in , .img_gl {
    width: 100%;
}
.img_dk {
    margin-left: 20%;
}
.img_ip {
    width: 100%;
}
section {
    width: 100%;
  }
  footer {
    font-size: 20px;
    padding-top: 3%;
  }

 