

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="assets/img/ban.png" width="1110" height="200">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand " href="#">FPT Polytechnic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink] = "['/index']">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink] = "['/introduce']">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink] = "['/contact']">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  [routerLink] = "['/feedback']">Góp ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hỏi đáp</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"  [routerLink] = "['/regis']">Đăng kí</a>
                            <a class="dropdown-item" [routerLink] = "['/login']">Đăng nhập</a>
                            <a class="dropdown-item"[routerLink] = "['/forgotpass']">Quên mật khẩu</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                            <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                            <a class="dropdown-item" [routerLink] = "['/update']">Cập nhật tài khoản</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
                      
        <section>
            <br>
            <div class="container">
                <h2 class="txt">GIỚI THIỆU CHUNG</h2>
                <p>Năm 1988, 13 nhà khoa học trẻ thành lập Công ty FPT với mong muốn xây dựng 
                    <strong><i>“một tổ chức kiểu mới, giàu mạnh bằng nỗ lực lao động sáng tạo trong khoa học kỹ thuật và công nghệ, làm khách hàng hài lòng, góp phần hưng thịnh quốc gia, đem lại cho mỗi thành viên của mình điều kiện phát triển đầy đủ nhất về tài năng và một cuộc sống đầy đủ về vật chất, phong phú về tinh thần.”</i></strong>
                </p><br/>
                <p>Không ngừng đổi mới, liên tục sáng tạo và luôn tiên phong mang lại cho khách hàng các sản phẩm/ giải pháp/ dịch vụ công nghệ tối ưu nhất đã giúp FPT phát triển mạnh mẽ trong những năm qua. FPT trở thành công ty CNTT-VT lớn nhất trong khu vực kinh tế tư nhân của Việt Nam với gần 
                    <strong>27.000</strong> cán bộ nhân viên, trong đó có 
                    <strong>12.241</strong> kỹ sư CNTT, lập trình viên, chuyên gia công nghệ. Đồng thời, FPT cũng là doanh nghiệp dẫn đầu trong các lĩnh vực: Xuất khẩu phần mềm; Tích hợp hệ thống; Phát triển phần mềm; Dịch vụ CNTT; Phân phối sản phẩm công nghệ tại Việt Nam. Hầu hết các hệ thống thông tin lớn trong các cơ quan nhà nước và các ngành kinh tế trọng điểm của Việt Nam đều do FPT xây dựng và phát triển.
                </p><br/>
                <p>Không chỉ cung cấp sản phẩm, dịch vụ tại 63/63 tỉnh thành của Việt Nam, FPT đã mở rộng hoạt động ra thị trường toàn cầu với văn phòng và công ty chi nhánh tại 
                    <strong>19 quốc gia.</strong>
                </p><br/>
                <p>Vị thế của FPT trên toàn cầu đã được công nhận và khẳng định thông qua danh sách khách hàng gồm hơn 400 doanh nghiệp lớn trên thế giới, đặc biệt trong đó có gần 50 khách hàng nằm trong danh sách Fortune 500. Một số tên tuổi khách hàng lớn có thể kể đến Toshiba, Hitachi, Nissen, Deutsche Bank, Unilever, Panasonic… FPT cũng nhận được chứng chỉ đối tác cấp cao nhất của các nhà cung cấp lớn trên thế giới như Cisco, IBM, Microsoft, Oracle, SAP, Dell, Juniper, Amazon Web Services… Trong vòng ba năm liên tiếp kể từ năm 2014, FPT lọt vào 
                    <strong>Top 100 Nhà cung cấp dịch vụ gia công toàn cầu</strong> (The Global Outsourcing100) do IAOP đánh giá. Trong 2 năm 2015, 2016, FPT nằm trong 
                    <strong>Top 300 doanh nghiệp hàng đầu Châu Á</strong> do Nikkei Asian Review bình chọn.
                </p><br/>
                <p>Với định hướng tiên phong nghiên cứu và ứng dụng các xu hướng công nghệ mới nhất và mạnh mẽ vươn ra toàn cầu, FPT đặt mục tiêu doanh thu từ thị trường nước ngoài đạt 
                    <strong>1 tỷ USD</strong> và trở thành 
                    <strong>Tập đoàn toàn cầu hàng đầu Việt Nam</strong> về dịch vụ thông minh vào năm 2020.
                </p>
        
                <div class="jumbotron">
                    <h2 class="txt">VĂN HÓA</h2>
                    <p>Văn hóa FPT được gói gọn trong 6 chữ 
                        <strong>“TÔN ĐỔI ĐỒNG - CHÍ GƯƠNG SÁNG”</strong>, trong đó: “TÔN ĐỔI ĐỒNG” nghĩa là “Tôn trọng cá nhân - Tinh thần đổi mới - Tinh thần đồng đội”, là những giá trị mà tất cả người FPT đều chia sẻ.
                    </p><br/>
                    <p>“CHÍ GƯƠNG SÁNG” nghĩa là “Chí công - Gương mẫu - Sáng suốt”, là những phẩm chất cần có của lãnh đạo FPT.</p><br/>
                    <img class="img_in" src="assets/img/in_fpt.jpg">
                </div>
        
                <div class="Section">
                    <h2 class="txt">ĐỊNH HƯỚNG CÔNG NGHỆ</h2>
                    <p>Cam kết mang lại giá trị cao nhất cho khách hàng, FPT luôn chú trọng đầu tư ngân sách dành cho nghiên cứu và phát triển các công nghệ mới nhất. Trong những năm gần đây, công nghệ 
                        <strong>S.M.A.C</strong>(viết tắt của 4 từ Social - Mạng xã hội; Mobile - Công nghệ di động; Analytics - Phân tích Dữ liệu lớn; và Cloud - Điện toán đám mây) được coi là trọng tâm và nền tảng để FPT triển khai, cung cấp các dịch vụ/giải pháp thông minh tới khách hàng.
                    </p><br/>
                    <img class="img_dk" src="assets/img/dk_fpt.jpg" >
                </div>
        
                <div class="jumbotron">
                    <h2 class="txt">Mạng lưới toàn cầu</h2>
                    <p>Với sự hiện diện tại 19 quốc gia, FPT có thể phối hợp các nguồn lực trên toàn cầu và tại Việt Nam để cung cấp dịch vụ/giải pháp cho khách hàng một cách hiệu quả nhất.</p><br/>
                    <p>Tại Việt Nam, FPT có mặt tại tất cả 
                        <strong>63/63 tỉnh thành</strong>. Trên thế giới, FPT có mặt tại 19 quốc gia thuộc 4 châu lục
                    </p>
                    <p><strong>Châu Mỹ:</strong> Mỹ</p>
                    <p><strong>Châu Úc:</strong> Australia</p>
                    <p><strong>Châu Âu:</strong> Anh, Đức, Hà Lan, Pháp, Slovakia</p>
                    <p><strong>Châu Á:</strong> Nhật Bản, Singapore, Thái Lan, Malaysia, Myanmar, Philippines, Indonesia, Campuchia, Lào, Bangladesh, Kuwait, Việt Nam</p><br/>
                    <img class="img_gl" src="assets/img/gl_fpt.jpg" >
                </div>
        
                <div class="article">
                    <h2 class="txt">Công ty thành viên</h2>
                    <p>FPT cung cấp giải pháp CNTT tổng thể trong 4 lĩnh vực 
                        <strong>Công nghệ, Viễn thông,</strong>
                    </p>
                    <p><strong>Phân phối - Bán lẻ, Giáo dục</strong> và khác với 8 công ty thành viên trực thuộc:</p><br/>
                    <img class="img_ip" src="assets/img/ip_fpt.png" >
                </div>
            </div>
        </section>   
        <footer>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink] = "['/index']">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink] = "['/introduce']">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink] = "['/contact']">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  [routerLink] = "['/feedback']">Góp ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hỏi đáp</a>
                    </li>
                </ul>
            </nav>
        </footer>    
    </div>
</body>
</html>

