
aside {
    float: right;
    width: 30%;
    padding-top: 20px;
  }
  article {
    float: left;
    padding-top: 20px;
    width: 70%;
  }
  section:after {
    content: "";
    display: table;
    clear: both;
  }
.login {
  padding-left: 11%;
  padding-top: 3%;
}
.logo {
  padding-left: 40%;
}
.myLabel {
  padding-top: 7px;
}
.myRadio {
  padding-top: 7px;
}
footer {
  font-size: 20px;
  padding-top: 3%;
}